@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

header, footer{
  display: flex;
  align-items:flex-start;
  justify-content:space-between;
  margin: auto;
}
body {
  font-size: 1em;
  max-width: 700px;
  font-weight: 300;
  margin: auto;
  color:#2c2d48;
  /* font-family: 'Playfair Display', serif; */
}
h1 {
  font-family: 'Playfair Display', serif;
  /* font-family: 'Inter var', sans-serif; */
  font-weight: 900;
  font-weight: 800;
  font-size: 2.8em;
  margin: 50px 0 25px 0;
}
h2{
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  font-weight: 700;
}

header {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

p {
  font-size: 1.1em;
  color: #2c2d48;
  line-height: 1.8em;
  text-align: justify;
  /* margin: auto 5%; */
}
footer {
  margin-top:30px;
}

header nav {
  margin-left: auto;
}

header a{
  text-decoration: none;
  color:#2c2d48;
}


nav a{
  font-weight: 500;
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

nav a:hover {
  color: #f94125;
  transition: all .3s ease-out;
}

#mode {
  display: flex;
  align-items: center;
}

/* nav a::after {
  content: '';
  display: flex;
  position: absolute;
  bottom:-2px;
  height:1px;
  width:100%;
  background-color: #f94125;
  align-items: center;
  transform: scaleX(0);
  transition: all .3s ease-out;
}
nav a:hover::after {
  transform: scaleX(1);
} */

a#mode svg line, a#mode svg circle {
  stroke: #0d122b;
  fill: #0d122b;
}

.metadata {
  display: flex;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding:5px 0;
}
.metadata span  {
  line-height: 30px;
}
.length {
  margin-left:10px;
  margin-right: auto;
}

ul.tags {
  list-style-type: none;
  display: flex;
  padding:0;
  margin-top:50px;
}
ul.tags li {
  margin-right: 10px;
}
a.tag {
  text-decoration: none;
  color:#111;
  font-size: 0.75rem;
  background-color: rgb(242, 242, 242);
  padding:10px;
}